.header {
  height: 70px;
  display: flex;

  padding: 0 20px 0 20px;

  border-bottom: solid 1px var(--color--gray);

  align-items: center;
  justify-content: space-between;
}

.title__container {
  display: flex;

  color: var(--color--pink);
  text-decoration: none;

  align-items: center;

  cursor: pointer;
}

.logo {
  font-size: 2.6rem;
}

.nav {
  display: flex;

  gap: 1.4rem;
}

.nav a {
  display: flex;

  color: var(--color--black);
  font-size: 1.4rem;
  font-weight: 600;

  text-decoration: none;

  align-items: center;

  cursor: pointer;
}

.userInfo {
  display: flex;

  align-items: center;
}

.profile {
  width: 40px;
  height: 40px;

  border-radius: 100%;
}

.login {
  height: 50px;
  font-size: 1.4rem;
  color: var(--color--white);

  background-color: var(--color--orange);
  border-radius: 15px;
  border: none;

  padding: 10px;

  cursor: pointer;
}
